body{
    background-color: blue;
    text-align: center;
}
.header{
color:greenyellow;
text-align: left;
}
p {
    color: white;
}
h3{
    text-align: left;
    color: white;
}
h1{
    color: white;
}
.exp{

}